.error {
    color: white;
    background-color: red;
  }


.cardParent {
  display: grid;
  place-items: center;
}

.cardContainer {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     padding-left: 40px;
     padding-right: 40px;
}